*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
#navbar{
    height:60px;
    background-color: #0f1111;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    
}
#navlogo{
    height:50px;
    width: 100px;
    border: 2px solid black;
    margin-left: 10px;
    background-image: url(logo1.jpg);
    background-size: cover;
}

#navlogo:hover{
    border: 2px solid white;
}

/* box 2*/

#location-icon{
    display:flex;
    align-items: center;
}
#delivered-to{
    margin-left: 12px;
    color: #cccccc;
    text-align: center;
}
#india{
    font-size: 19px;
    margin-left: 3px;

}
#address{
    height:50px;
    margin-left: 5px;
    border: 2px solid black;
    
}
#address:hover{
    border: 2px solid white;
}

 /* box 3 */

 #nav-search{
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: 620px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: 10px;
    border: 2px solid black;
 }

 #search-icon{
    background-color: #febd70;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color:#0f1111;
 }
 #select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

 }
 #search-bar{
    width: 100%;
    font-size: 18px;
    border: none;
    
 }
 #nav-search:hover{
    border: 2px solid orange
 }
   
 /* Box 4 */

 #box4{
    margin-left: 10px;
    border: 2px solid black;
 }

 #accounts{
    font-size: 20px;
    
 }
 #hello{
    color: #ffffff;
 }
 #box4:hover{
    border: 2px solid white;
 }
 
 /* B0x5*/

 #box5{
   border:2px solid black;
 }
 #orders{
    font-size: 18px;
 }
 #box5:hover{
   border:2px solid white;
 }

 /* B0x6*/

 #nav-cart{
   display: flex;
   align-items: center;
   border:2px solid black;
 }

 #cart{
   font-size: 18px;
   font-weight: 700;
   margin-left: 5px;
   color: #febd70;
   
 }
 #cart-logo{
   font-size: 35px;
   display: flex;
   align-items: center;
 }
 #nav-cart:hover{
   border:2px solid white;
 }
 
 /* Pannel*/

 #panel{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   color: white;
   font-size: 18px;
   font-weight: 700;
   background-color: #222f3d;
   height: 50px;
 }
 #menu-logo{
   display: flex;
   border:1px solid #222f3d;
 }
 #options{
   display: block;
   display: flex;
   width: 70%;
   
 }
 .pannel-options{
   margin-left: 15px;
   border:2px solid #222f3d;
 }
 #all{
  margin-left: 5px;
  
 }
 .pannel-options:hover{
  border:1px solid white;
 }
 
 #menu-logo:hover{
  border:1px solid white;
 }
 #shop{
  border:1px solid #222f3d;
 }
 #shop:hover{
  border:1px solid white;
 }

 /** Hero-section**/

 #hero-section{
  height:400px;
  background-image: url(ph2.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
 }
 #hero-nav{
  background-color: white;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  width:95%;
  margin-bottom: 25px;
 }
 #click{
  color:#007185;
  margin-left: 5px;
 }

 /** shop-section **/

 #shop-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color:#e2e7e6;
   }
 .shop{
    border:2px solid black;
    width: 23%;
    height: 400px;
    margin-top: 15px;
    border: none;
    
   }
 #box1-img{
  background-image: url(ph3.jpg);
  background-size: cover;
  height: 250px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 5px;
  padding:20px 0px 30px;
 }
 .shop{
  background-color: white;
 }
 #box2-img{
  background-image: url(ph8.jpg);
  background-size: cover;
  height: 250px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 5px;
  padding:20px 0px 30px;
 }
 .h4{
  color:#007185;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-top: 10px;
 }
 .h2{
  margin-top: 10px;
 }
 #box3-img{
  background-image: url(ph9.jpg);
  background-size: cover;
  height: 250px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 5px;
  padding:20px 0px 30px;
 }
 #box4-img{
  background-image: url(ph4.jpg);
  background-size: cover;
  height: 250px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 5px;
  padding:20px 0px 30px;
 }
 #box5-img{
  background-image: url(ph5.jpg);
  background-size: cover;
  height: 250px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 5px;
  padding:20px 0px 30px;
 }
 #box6-img{
  background-image: url(ph6.jpg);
  background-size: cover;
  height: 250px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 5px;
  padding:20px 0px 30px;
 }
 #box7-img{
  background-image: url(ph7.jpg);
  background-size: cover;
  height: 250px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 5px;
  padding:20px 0px 30px;
 }
 #box8-img{
  background-image: url(ph8.jpg);
  background-size: cover;
  height: 250px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 5px;
  padding:20px 0px 30px;
 }

 /** Footer**/

 footer{
  margin-top: 15px;
  background-color: #e2e7e6;
 }
 #foot-1{
  background-color: #37475a;
  height: 50px;
  color: white;
  text-align: center;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 #foot-2{
  display: flex;
  justify-content: space-evenly;
  
  background-color: #222f3d;
  color: white;
  height: 300px;
 }
 .data2{
  margin-top: 10px;
  font-size: 15px;
  color:#dddddd;
 }
 .data{
  margin-top: 25px;
 }
 #foot-3{
  background-color: #222f3d;
  color: white;
  height: 100px;
  border-top: 1px solid rgba(255,255,255,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  
 }
 #content{
  display: flex;
  align-items: center;
 }
 #footlogo{
  height: 80px;
  width: 130px;
  background-image: url(logo2.jpg);
  background-size: cover;
  font-size: 50px;
  
 }
 #language-logo{
  margin-left: 15px;
 }
 #lang{
  margin-left: 3px;
  font-size: 15px;
  background-color: #222f3d;
  color: rgba(255,255,255,0.7);
  border: none;
 }
 
 #language{
  font-size: 18px;
  height: 40px;
  width: 150px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(255,255,255,0.7);
 }
 #doller{
  height: 40px;
  width: 250px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(255,255,255,0.7);
  margin-left: 1px;
  margin-left: 10px;
 }
 #doller-logo{
  margin-left: 19px;
 }
 #dol{
  color:rgba(255,255,255,0.7);
 }
 #foot4{
  background-color: rgba(0,0,0,0.9);
  color: white;
  
 }

 .channel{
  margin-top: 30px;
  border:2px solid black;
  border: none;

 }
 #menu1{
  height: 100px;
  
 }
 #menu2{
  height: 100px;
  
 }
 #menu3{
  height: 100px;
  
 }
 #menu4{
  height: 100px;
  
 }
 #menu5{
  height: 100px;

 }
 #menu6{
  height: 100px;
  
 }
 #menu7{
  height: 100px;
  
 }
 #menu8{
  height: 100px;
  
 }
 .cont{
  font-size: 15px;
  color:rgba(255,255,255,0.7);
 }
 
 #foot-41{
  height: 100px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  
 }
 #foot-40{
  height:100px;
  display: flex;
  justify-content:center;
  justify-content: space-evenly;
 }
 #desk{
  margin-top: 30px;
  text-align: center;
  font-size: 15px;
  color: rgba(255,255,255,0.7);
 }
 .conte{
  color: rgba(255,255,255,0.7);
  font-size: 18px;
 }
 